<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <coinbase>
                <model>Coinbase\Magento2PaymentGateway\Model\PaymentMethod</model>
                <title>Bitcoin</title>
                <payment_action>Sale</payment_action>
                <visible_on_cart>1</visible_on_cart>
                <order_status>pending_payment</order_status>
                <api_key></api_key>
                <api_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"></api_secret>
            </coinbase>
        </payment>
    </default>
</config>
